<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin edit</title>
</head>
<body>
    <h1>Admin malumotlarin uzgartirish</h1>
    <br><br><br>
    <form action="" method="post">{% csrf_token %}
        <label for="">admin ismi</label>
        <input type="text" name="ism" value="{{admin.name}}" >
        <br>
        <br>
        <br>
        <label for="">ishga kelish vaqti</label>
        <select name="ish_bosh">
            <option value="ish_bosh">08:15</option>
            <option value="ish_bosh">13:00</option>
        </select>
        <br>
        <br>
        <label for="">ishni tugash vaqti</label>
        <select name="ishni_tugashi">
            <option value="ishni_tugashi">12:30</option>
            <option value="ishni_tugashi">17:30</option>
        </select>
        <br>
        <button type="submit">saqlash</button>
    </form>
</body>
</html>