<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh_sahifa</title>
</head>
<body>
    <h1>Bosh_sahifaga hush kelibsiz</h1>
    <br>
    <hr>
    <br>
    <h2><a href="{% url 'kitob' %}">Kitoblar</a></h2>
    <br>
    <br>
    <h2><a href="{% url 'mualliflar' %}">Mualiflarlar</a></h2>
    <br>
    <br>
    <h2><a href="{% url 'talabalar' %}">Talabalar</a></h2>
    <br>
    <br>
    <h2><a href="{% url 'recordlar' %}">Recordlar</a></h2>
    <br>
    <br>
    <h2><a href="{% url 'adminlar' %}">adminlar</a></h2>
</body>
</html>