<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <h1>kitoblarni umumiy malumoti</h1>
    <br>
    <hr>
    <h2>{{kitob.id}}.{{kitob.name}}</h2>
    <br>
    <br>
    <h2>Muallif:{{kitob.muallif_n}}</h2>
    <br>
    <br>
    <h2> saxifa:{{kitob.saxifa}}</h2>
    <br>
    <br>
    <h1>janr:{{kitob.janr}}</h1>
    <br>
    <br>
    <form action="" method="post">{% csrf_token %}
        <label for="">kitob nomi:</label>
        <input type="text" name="name" value="{{kitob.name}}">
        <label for="">mualif ismi</label>
        <input type="text" name="muallif_n" value="{{kitob.muallif_n}}">
        <label for="">kitob saxifa</label>
        <input type="nuber" name="k_s" value="{{kitob.saxifa}}">
        <label for="">kitob janr</label>
        <input type="text" name="janr" value="{{kitob.janr}}">
        <button type="submit">saqlash</button>
    </form>
</body>
</html>